html {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: inherit;
}
li {
    list-style: none;
}

.App {
    text-align: center;
    color: #222222;
}